{% extends 'base.html' %}

{% block content %}

        <main class="h-full overflow-y-auto">
          <div class="container px-6 mx-auto grid">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Active
            </h2>
        

             
           

            <!-- New Table -->
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-4 py-3">Tender</th>
                      <th class="px-4 py-3">Start Date</th>
                      <th class="px-4 py-3">End Date</th>
                      <th class="px-4 py-3">View</th>
                      <th class="px-4 py-3">Edit</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                  {% for tender in tenderdata %}
                  
                  
                  
                  
                  
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                          <div>
                            <p class="font-semibold">{{tender.tender_name}}</p>
                            <p class="text-xs text-gray-600 dark:text-gray-400">
                              {{tender.tender_description|truncatechars:80}}
                            </p>
                          </div>
                        </div>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{tender.start_date}}
                      </td>

                      <td class="px-4 py-3 text-sm">
                        {{tender.end_date}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        
                        <a href="/bid/view/{{tender.id}}" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                          view
                        </a>
                      </td>
                      <td class="px-4 py-3 text-sm">

                        <a href="/bid/{{tender.id}}" class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
                          bid
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

            </div>
<br>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
{% endblock %}
